<div class="mb-3">

    <label [for]="name" class="form-label">{{ label }}</label>
    <input
            [formControl]="formControl"
            [type]="type"
            [name]="name"
            [id]="name"
            (ngModelChange)="handleChange()"
            class="form-control">

    <div
            class="alert alert-danger"
            *ngIf="formControl.touched && formControl?.invalid"
    >
        <div *ngFor="let error of formControl.errors | keyvalue">
            <div [ngSwitch]="error.key">
                <div *ngSwitchCase="'required'">{{ name | titlecase }} is required</div>
                <div *ngSwitchDefault>{{ error.value }}</div>
            </div>
        </div>
    </div>
</div>
