<div class="mb-3">

    <label [for]="name" class="form-label">{{ label }}</label>
    <input
            [type]="type"
            [name]="name"
            [id]="name"
            [ngClass]="{
                'form-control': true,
                'is-invalid': ngControl.touched && ngControl.invalid
            }"
            #input
            (input)="onChange(input.value)"
            (blur)="onTouched()">

    <!--    <div-->
    <!--            class="alert alert-danger"-->
    <!--            *ngIf="ngControl?.touched && ngControl?.invalid"-->
    <!--    >-->
    <div
            class="invalid-feedback"
            *ngFor="let error of ngControl.errors! | keyvalue"
    >

        <div [ngSwitch]="error.key">
            <div *ngSwitchCase="'required'">{{ name | titlecase }} is required</div>
            <div *ngSwitchDefault>{{ error.value }}</div>
        </div>
    </div>
</div>
