<div class="row justify-content-center align-items-center m-5">
  <div class="col-6">
    <form [formGroup]="loginForm" (ngSubmit)="login()">

      <app-input-with-errors
        name="username"
        type="text"
        label="Username"
        [control]="username"
      ></app-input-with-errors>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          formControlName="password"
          type="password"
          class="form-control"
          name="password"
          id="password">
        <div
          class="alert alert-danger"
          *ngIf="password?.touched && password?.invalid">
          <div
            *ngFor="let error of password?.errors! | keyvalue"
          >
            {{error.value}}
          </div>
        </div>
      </div>

      <button class="btn btn-primary" type="submit">Login</button>
    </form>
  </div>
</div>
