<fieldset [formGroupName]="controlKey">
    <legend>{{label}}</legend>
    <app-input-with-errors
            formControlName="street"
            label="Street"
            name="street"
            id="street"
            type="text"
    ></app-input-with-errors>

    <app-input-with-errors
            formControlName="city"
            label="City"
            name="city"
            id="city"
            type="text"
    ></app-input-with-errors>

    <app-input-with-errors
            formControlName="zip"
            label="Zip"
            name="zip"
            id="zip"
            type="text"
    ></app-input-with-errors>
</fieldset>