<section [formGroup]="addressForm">
    <app-input-with-errors
            formControlName="street"
            label="Street"
            name="street"
            id="street"
            type="text"
            (blur)="onTouched()"
    ></app-input-with-errors>

    <app-input-with-errors
            formControlName="city"
            label="City"
            name="city"
            id="city"
            type="text"
            (blur)="onTouched()"
    ></app-input-with-errors>

    <app-input-with-errors
            formControlName="zip"
            label="Zip"
            name="zip"
            id="zip"
            type="text"
            (blur)="onTouched()"
    ></app-input-with-errors>
</section>